.sub-form-wrapper {
  border: 1px solid black;
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;

  .inline-inputs {
    display: flex;

    .second-input {
      margin-left: 8px;
    }
  }
}
