@import "~@angular/material/prebuilt-themes/indigo-pink.css"

.mat-form-field
  display: block !important
  width: 100%
  max-width: 500px

body
  background-color: #dbdbdb

button
  background-color: #353535 !important
  color: white !important

