<h1>Form Builder</h1>
<form #f>
  <div *ngFor="let form of forms; let i = index">
    <div class="main-form-wrapper">
      <mat-form-field>
        <input matInput placeholder="Ask question" [name]="'question' + form.id" [ngModel]="form.question" (ngModelChange)="onModelChanges($event, 'question', form)">
      </mat-form-field>
      <mat-form-field>
        <mat-select [name]="'type' + form.id" [ngModel]="form.type" (ngModelChange)="onModelChanges($event, 'type', form)" placeholder="Chose form type">
          <mat-option value="text">text</mat-option>
          <mat-option value="yes/no">yes/no</mat-option>
          <mat-option value="number">number</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button type="button" (click)="addSubform(form)">Add sub-input</button>
      <button mat-button (click)="deleteMainForm(i)" class="btn-right">Delete</button>
    </div>
    <app-sub-forms [items]="form['subInput']" [parentFormType]="form.type"></app-sub-forms>
  </div>
</form>
<button (click)="addMainForm()" mat-button class="btn-right">Add Input</button>
<button mat-button (click)="deleteAll()" class="btns-main btn-right">Delete All</button>
